@import "tailwindcss";
@plugin "tailwind-fluid-typography";

:root {
  --background: rgba(7, 7, 5, 0.973);
  --foreground: #fff2eb;
  --secondary-text: #a3a3a3;
  --divider: #dce3e9;
  --accent: #ffb400;
  --button-text: #d9d9d9;
  --brand: #1c6ca0;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
  --breakpoint-landing-md: 750px;
}
html {
  scroll-behavior: smooth;
}

.button {
  @apply bg-[var(--brand)] hover:bg-transparent active:bg-transparent border border-[var(--brand)] text-[var(--foreground)] px-4 py-2 rounded-lg mt-2 transition-all duration-200 font-bold;
}
